{% extends 'base.html' %}
{% block content %}
{% load static %}
     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>About Spinta Clinic</h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> About Us</li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
         <!--  ************************* About Us Content Start Here  ************************** -->
            <div class="about-us">
                <div class="container">
                    <div class="row">

                        {% for i in About %}
                        <div class="col-md-6 col-sm-12">
                            <img src="{{i.image.url}}" alt="">
                        </div>
                        {% endfor %}
                        <div class="col-md-6 col-sm-12">
                            <h2>Welcome to  Spinta  Clinic</h2>

                        {% for i in About %}

                            <p>{{i.content}}aa</p>
                                    
                        {% endfor %}

                        </div>

                    </div>
                    
                </div>
            </div>
        
        <!-- ######## About US End ####### -->
        	<!-- ################# Mission Vision Starts Here#######################--->
  	
  	<div class="mosion-vision">
  	    <div class="container">
  	        <div class="row">
  	            <div class="col-lg-4 col-md-12">
  	                <div class="single-dd">
  	                    <h4>Our Mission</h4>
                        {% for i in mvw %}
  	                    <p>{{i.mission}}</p>
  	                    {% endfor %}
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Our Vision</h4>
  	                    {% for i in mvw %}
                        <p>{{i.vision}}</p>
                        {% endfor %}>
  	                    
  	                    
  	                </div>
  	            </div>
  	            <div class="col-lg-4 col-md-12">
  	                 <div class="single-dd">
  	                    <h4>Why Choos Us ?</h4>
  	                    {% for i in mvw %}
                        <p>{{i.why_choose_us}}</p>
                        {% endfor %}>
  	                    
  	                    
  	                </div>
  	            </div>
  	        </div>
  	    </div>
  	</div>

      <!-- ################# Footer Starts Here#######################--->

{% endblock %}