{% extends 'base.html' %}
{% load static %}
{% block content %}

     <!--  ************************* Page Title Starts Here ************************** -->
               <div class="page-nav no-margin row">
                   <div class="container">
                       <div class="row">
                           <h2>Blog </h2>
                           <ul>
                               <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                               <li><i class="fas fa-angle-double-right"></i> Blog </li>
                           </ul>
                       </div>
                   </div>
               </div>
       
         <!-- ######## Page  Title End ####### -->
         
       <section class="our-blog container-fluid">
  		<div class="container">
  			<div class="col-sm-12 blog-cont">
  				<div class="row no-margin">
  					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_1.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">More Detail</button>
								</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_2.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">More Detail</button>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_3.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">More Detail</button>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_4.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<button class="btn btn-success btn-sm">More Detail</button>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_5.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">More Detail</button>
								</a>
							</div>
						</div>
					</div>
					
					<div class="col-sm-6 blog-smk">
						<div class="blog-single">

								<img src="{% static 'assets/images/blog/post_6.jpg' %}" alt="">

							<div class="blog-single-det">
								<span>Nov 12, 2018</span>
								<h6>By Gods Grace</h6>
								<p>Not the answer you're looking for? Browse other questions tagged  is simply dummy text of the printing and typesetting in</p>
								<a href="blog_single.html">
									<button class="btn btn-success btn-sm">More Detail</button>
								</a>
							</div>
						</div>
					</div>
  				</div>
  			</div>
  			
  		</div>
  	</section>  
   	
{% endblock %}