<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pikaday/css/pikaday.css">
<link rel="stylesheet" type="text/javascript" href="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js">
<style>
  
body{
  font-family: sans-serif, Arial;
}

</style>

<div ><label for="birth_date">Birth Date: </label>
  <input type="text" id="birth_date" /></div>
<div id="age" style="padding-top:2em;"></div>


<script src = "https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script>
  

function calculateAge(date) 
{
  const now = new Date();
  const diff = Math.abs(now - date );
  const age = Math.floor(diff / (1000 * 60 * 60 * 24 * 365)); 
  return age
}

var picker = new Pikaday({ 
  field: document.getElementById('birth_date') ,
  yearRange:[1900,2020],
  onSelect: function(date) {
  let age = calculateAge(date);
  document.getElementById('age').innerHTML = "age: "+age ;
  }                        
});


</script>

